body{
    color: #ffff;
    font-family: 'Cabin', sans-serif;
    background-color: black;
}


  .img-avion{
      max-width: 3%;
  }

  .card-one{
      background-color: #16a2b7;
  }
  
  .card-fondo{
      padding: 0;
      margin: 0;
      text-align: left;
  }

  .icon{
      width: 30px;
  }

  .foot-text{
      text-align: left;
  }
  /* esta clase le da el alto al formulario de contacto */
.formulario{
    height: 200px;
}
/* aca se descativa el scroll que viene por default, con el fin de darle el propio a traves de jquery */
html{
    scroll-behavior: auto !important;
}
/* esta clase le da el color a los iconos de RRSS fondo */
.font-aw{
    color: #16a2b7;
    background-color:white;
}